# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# ----------------------
# Dependencies
# ----------------------
node_modules/

# ----------------------
# Expo
# ----------------------
.expo/
dist/
web-build/
expo-env.d.ts

# ----------------------
# Native Build & Credentials
# ----------------------
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ----------------------
# Metro
# ----------------------
.metro-health-check*

# ----------------------
# Debugging & Logs
# ----------------------
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# ----------------------
# macOS System Files
# ----------------------
.DS_Store

# ----------------------
# Certificates & Keys
# ----------------------
*.pem

# ----------------------
# Local Environment Files
# ----------------------
.env
.env.*.local
.env.local

# ----------------------
# TypeScript
# ----------------------
*.tsbuildinfo

# ----------------------
# Custom App Folders
# ----------------------
app-example

# ----------------------
# Project-specific ignores
# ----------------------
**/tempobook/dynamic/
**/tempobook/storyboards/

# ----------------------
# VSCode
# ----------------------
.vscode/
